numpy
fastapi
uvicorn[standart]
gunicorn
loguru
nltk
PyMuPDF
requests
python-multipart
pymongo
wikipedia
html2text
pandas
openpyxl
marko
tqdm
python-jose[cryptography]
aiohttp[speedups]
pymilvus==2.2.9
tiktoken
beautifulsoup4
typer[all]
tenacity
python-docx
simplify-docx
pydantic==1.10.11
langdetect==1.0.9
google-cloud-translate==2.0.1
aiofiles==23.1.0
