numpy
fastapi
uvicorn[standart]
loguru
nltk
PyMuPDF
requests
python-multipart
pymongo
wikipedia
html2text
pandas
openpyxl
marko
tqdm
python-jose[cryptography]
aiohttp[speedups]
pymilvus==2.2.8
tiktoken
beautifulsoup4
